---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Resus Docs blogpage";
---

<BaseLayout pageTitle={pageTitle}>
  <p>The blog list page with all the blogs on my website</p>
  <ul>
    <!-- <li><a href="/posts/post-1">First Post</a></li>
    <li><a href="/posts/post-2">Second Post</a></li>
    <li><a href="/posts/post-3">Third Post</a></li> -->

    {
      allPosts.map((post) => (
        <li>
          <BlogPost url = {post.url} title = {post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
