---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>A place to learn, a place to improve</h2>
  <p>
    Reus docs is my endeavour to make emergency medicine more fun and
    interesting. I am hoping to make it an orientated approach to learning
    emergency Medicine.
  </p>
  <br />
  <p>I look forward seeing you here more often.</p>
</BaseLayout>
